fastapi
uvicorn[standard]
pydantic
python-jose
passlib[bcrypt]
python-multipart

sqlalchemy
alembic

numpy
pandas
scikit-learn
joblib

requests
python-dotenv

email-validator
slowapi
redis
